<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SignServlet</servlet-name>
        <servlet-class>com.xufeng.sign.SignServlet</servlet-class>
        <!--通过使用inti-param标签来给该servlet类配置初始化参数 -->
        <init-param>
            <!--param-name指定参数名称 -->
            <param-name>path</param-name>
            <!--param-value指定参数值 -->
            <param-value>E:\\login.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignServlet</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
</web-app>